# 1. Business Understanding

# 2. Data Understanding

In [2]:
# importing data 
import pandas as pd
import numpy as np 

df = pd.read_csv('data.csv', sep=';')
df.head()

ModuleNotFoundError: No module named 'pandas'

### 2.1 - Victoria

### 2.2 - Anika

In [8]:
# Anika testing

# second test

In [9]:

pip install ucimlrepo

SyntaxError: invalid syntax (510024497.py, line 2)

DATA UNDERSTANDING

Data set

In [ ]:
df = pd.read_csv('/Users/sai/Desktop/MLLab1/data.csv', sep=';') 
df

In [ ]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
predict_students_dropout_and_academic_success = fetch_ucirepo(id=697) 
 
# variable information 
df_var = predict_students_dropout_and_academic_success.variables
df_var

The data information and data types from the original dataset are as listed above.

For the most part, it would be best to represent each data attribute the way it's listed, but the 
following attributes would benefit from using a different data type:
   Course: string instead of int
   Nationality: string instead of int

For these variables, it would be best to work with them as integers, but they are thought of as booleans:
   Displaced, Educational special needs, Debtor, Tuition fees up to date, Scholarship holder, International

The following data attributes will not contribute meaninfully to our analysis:
   Application mode, Application order, Admission grade, Previous qualification (grade)

Restatement of descriptions as they got cut off:

Marital status: 1 – single 2 – married 3 – widower 4 – divorced 5 – facto union 6 – legally separated

Application mode: 1 - 1st phase - general contingent 2 - Ordinance No. 612/93 5 - 1st phase - special contingent (Azores Island) 7 - Holders of other higher courses 10 - Ordinance No. 854-B/99 15 - International student (bachelor) 16 - 1st phase - special contingent (Madeira Island) 17 - 2nd phase - general contingent 18 - 3rd phase - general contingent 26 - Ordinance No. 533-A/99, item b2) (Different Plan) 27 - Ordinance No. 533-A/99, item b3 (Other Institution) 39 - Over 23 years old 42 - Transfer 43 - Change of course 44 - Technological specialization diploma holders 51 - Change of institution/course 53 - Short cycle diploma holders 57 - Change of institution/course (International)

Application order: Application order (between 0 - first choice; and 9 last choice)
Course: 33 - Biofuel Production Technologies 171 - Animation and Multimedia Design 8014 - Social Service (evening attendance) 9003 - Agronomy 9070 - Communication Design 9085 - Veterinary Nursing 9119 - Informatics Engineering 9130 - Equinculture 9147 - Management 9238 - Social Service 9254 - Tourism 9500 - Nursing 9556 - Oral Hygiene 9670 - Advertising and Marketing Management 9773 - Journalism and Communication 9853 - Basic Education 9991 - Management (evening attendance)

Daytime/evening attendance: 1 – daytime 0 - evening

Previous qualification: 1 - Secondary education 2 - Higher education - bachelor's degree 3 - Higher education - degree 4 - Higher education - master's 5 - Higher education - doctorate 6 - Frequency of higher education 9 - 12th year of schooling - not completed 10 - 11th year of schooling - not completed 12 - Other - 11th year of schooling 14 - 10th year of schooling 15 - 10th year of schooling - not completed 19 - Basic education 3rd cycle (9th/10th/11th year) or equiv. 38 - Basic education 2nd cycle (6th/7th/8th year) or equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 42 - Professional higher technical course 43 - Higher education - master (2nd cycle)

Previous qualification (grade): Grade of previous qualification (between 0 and 200)

Nationality: 1 - Portuguese; 2 - German; 6 - Spanish; 11 - Italian; 13 - Dutch; 14 - English; 17 - Lithuanian; 21 - Angolan; 22 - Cape Verdean; 24 - Guinean; 25 - Mozambican; 26 - Santomean; 32 - Turkish; 41 - Brazilian; 62 - Romanian; 100 - Moldova (Republic of); 101 - Mexican; 103 - Ukrainian; 105 - Russian; 108 - Cuban; 109 - Colombian

Mother's qualification: 1 - Secondary Education - 12th Year of Schooling or Eq. 2 - Higher Education - Bachelor's Degree 3 - Higher Education - Degree 4 - Higher Education - Master's 5 - Higher Education - Doctorate 6 - Frequency of Higher Education 9 - 12th Year of Schooling - Not Completed 10 - 11th Year of Schooling - Not Completed 11 - 7th Year (Old) 12 - Other - 11th Year of Schooling 14 - 10th Year of Schooling 18 - General commerce course 19 - Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv. 22 - Technical-professional course 26 - 7th year of schooling 27 - 2nd cycle of the general high school course 29 - 9th Year of Schooling - Not Completed 30 - 8th year of schooling 34 - Unknown 35 - Can't read or write 36 - Can read without having a 4th year of schooling 37 - Basic education 1st cycle (4th/5th year) or equiv. 38 - Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 41 - Specialized higher studies course 42 - Professional higher technical course 43 - Higher Education - Master (2nd cycle) 44 - Higher Education - Doctorate (3rd cycle)

Father's qualification: 1 - Secondary Education - 12th Year of Schooling or Eq. 2 - Higher Education - Bachelor's Degree 3 - Higher Education - Degree 4 - Higher Education - Master's 5 - Higher Education - Doctorate 6 - Frequency of Higher Education 9 - 12th Year of Schooling - Not Completed 10 - 11th Year of Schooling - Not Completed 11 - 7th Year (Old) 12 - Other - 11th Year of Schooling 14 - 10th Year of Schooling 18 - General commerce course 19 - Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv. 22 - Technical-professional course 26 - 7th year of schooling 27 - 2nd cycle of the general high school course 29 - 9th Year of Schooling - Not Completed 30 - 8th year of schooling 34 - Unknown 35 - Can't read or write 36 - Can read without having a 4th year of schooling 37 - Basic education 1st cycle (4th/5th year) or equiv. 38 - Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 41 - Specialized higher studies course 42 - Professional higher technical course 43 - Higher Education - Master (2nd cycle) 44 - Higher Education - Doctorate (3rd cycle)

Mother's occupation: 0 - Student 1 - Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers 2 - Specialists in Intellectual and Scientific Activities 3 - Intermediate Level Technicians and Professions 4 - Administrative staff 5 - Personal Services, Security and Safety Workers and Sellers 6 - Farmers and Skilled Workers in Agriculture, Fisheries and Forestry 7 - Skilled Workers in Industry, Construction and Craftsmen 8 - Installation and Machine Operators and Assembly Workers 9 - Unskilled Workers 10 - Armed Forces Professions 90 - Other Situation 99 - (blank) 122 - Health professionals 123 - teachers 125 - Specialists in information and communication technologies (ICT) 131 - Intermediate level science and engineering technicians and professions 132 - Technicians and professionals, of intermediate level of health 134 - Intermediate level technicians from legal, social, sports, cultural and similar services 141 - Office workers, secretaries in general and data processing operators 143 - Data, accounting, statistical, financial services and registry-related operators 144 - Other administrative support staff 151 - personal service workers 152 - sellers 153 - Personal care workers and the like 171 - Skilled construction workers and the like, except electricians 173 - Skilled workers in printing, precision instrument manufacturing, jewelers, artisans and the like 175 - Workers in food processing, woodworking, clothing and other industries and crafts 191 - cleaning workers 192 - Unskilled workers in agriculture, animal production, fisheries and forestry 193 - Unskilled workers in extractive industry, construction, manufacturing and transport 194 - Meal preparation assistants

Father's occupation: 0 - Student 1 - Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers 2 - Specialists in Intellectual and Scientific Activities 3 - Intermediate Level Technicians and Professions 4 - Administrative staff 5 - Personal Services, Security and Safety Workers and Sellers 6 - Farmers and Skilled Workers in Agriculture, Fisheries and Forestry 7 - Skilled Workers in Industry, Construction and Craftsmen 8 - Installation and Machine Operators and Assembly Workers 9 - Unskilled Workers 10 - Armed Forces Professions 90 - Other Situation 99 - (blank) 122 - Health professionals 123 - teachers 125 - Specialists in information and communication technologies (ICT) 131 - Intermediate level science and engineering technicians and professions 132 - Technicians and professionals, of intermediate level of health 134 - Intermediate level technicians from legal, social, sports, cultural and similar services 141 - Office workers, secretaries in general and data processing operators 143 - Data, accounting, statistical, financial services and registry-related operators 144 - Other administrative support staff 151 - personal service workers 152 - sellers 153 - Personal care workers and the like 171 - Skilled construction workers and the like, except electricians 173 - Skilled workers in printing, precision instrument manufacturing, jewelers, artisans and the like 175 - Workers in food processing, woodworking, clothing and other industries and crafts 191 - cleaning workers 192 - Unskilled workers in agriculture, animal production, fisheries and forestry 193 - Unskilled workers in extractive industry, construction, manufacturing and transport 194 - Meal preparation assistants

Admission grade: Admission grade (between 0 and 200)

Displaced: 1 – yes 0 – no

Educational special needs: 1 – yes 0 – no

Debtor: 1 – yes 0 – no

Tuition fees up to date: 1 – yes 0 – no

Gender: 1 – male 0 – female

Scholarship holder: 1 – yes 0 – no

Age at enrollment: Age of studend at enrollment

International: 1 – yes 0 – no

Curricular units 1st sem (credited): Number of curricular units credited in the 1st semester

Curricular units 1st sem (enrolled): Number of curricular units enrolled in the 1st semester

Curricular units 1st sem (evaluations): Number of evaluations to curricular units in the 1st semester

Curricular units 1st sem (approved): Number of curricular units approved in the 1st semester	

Curricular units 1st sem (grade): Grade average in the 1st semester (between 0 and 20)

Curricular units 1st sem (without evaluations): Number of curricular units without evalutions in the 1st semester

Curricular units 2nd sem (credited): Number of curricular units credited in the 2nd semester	

Curricular units 2nd sem (enrolled): Number of curricular units enrolled in the 2nd semester	

Curricular units 2nd sem (evaluations): Number of evaluations to curricular units in the 2nd semester

Curricular units 2nd sem (approved): Number of curricular units approved in the 2nd semester	

Curricular units 2nd sem (grade): Grade average in the 2nd semester (between 0 and 20)	

Curricular units 2nd sem (without evaluations): Number of curricular units without evalutions in the 1st semester

Unemployment rate: Unemployment rate (%)

Inflation rate: Inflation rate (%)

GDP: GDP

Target: Target. The problem is formulated as a three category classification task (dropout, enrolled, and graduate) at the end of the normal duration of the courseing

Data quality

In [ ]:
# Check duplicates

idx = df.duplicated()
len(df[idx])

There are no missing values in this dataset, as indicated by the data editor on dataset information page 
    from the UCI Irvine website
    [INSERT WHAT WE WOULD DO IF THERE WERE MISSING DATA]

There are no duplicate data values in this dataset
    [INSERT WHAT WE WOULD DO IF THERE WERE DUPLICATES]

This dataset has also been processed to remove outliers.  If there were outliers, we would drop all rows with entires
    that are IQR * 1.5 above Q3 and IQR * 1.5 below Q1 for that attribute.

Imputations

In [ ]:
# Imputation: replacing all course numbers with course names because the numbers aren't hierarchical, and the names
#    are more meaningful, as we can analyze the difficulty of the concepts

df["Course"].replace(to_replace = [33, 171, 8014, 9003, 9070, 9085, 9119, 9130, 9147, 9238, 9254, 9500, 9556, 9670, 9773, 9853, 9991],
                    value = ["Biofuel production", "Animation and multimedia", "Social service (evening)", "Agronomy", "Communication design", "Veterinary nursing", 
                            "Informatics engineering", "Equinculture", "Management", "Social service", "Tourism", "Nursing", "Oral hygiene", "Advertising and marketing management",
                            "Journalism and communication", "Basic Education", "Management (evening)"], inplace = True)

df["Course"]

In [ ]:
# Imputation: correct the mispelling of "Nationality"

# Imputation: replacing all nationality numers with nationality names because the numbers aren't hierarchical, and the names
#    are more meaningful, as we can analyze where students come from

df.rename(columns = {"Nacionality":"Nationality"}, inplace = True)

df["Nationality"].replace(to_replace = [1, 2, 6, 11, 13, 14, 17, 21, 22, 24, 25, 26, 32, 41, 62, 100, 101, 103, 105, 108, 109],
                         value = ["Portuguese", "German", "Spanish", "Italian", "Dutch", "English", "Lithuanian", "Angolan", "Cape Verdean", 
                                  "Guinean", "Mozambican", "Santomean", "Turkish", "Brazillian", "Romanian", "Rep. of Moldova", "Mexican", "Ukranian", 
                                  "Russian", "Cuban", "Colombian"], inplace = True)
df["Nationality"]

In [ ]:
# Imputation: make casing of variable name consistent with others

# Imputation: replacing all marital status numbers with marital status names because the numbers aren't hierarchical, and the names
#    are more meaningful, as we can analyze a student's marital status categorically

df.rename(columns = {"Marital Status":"Marital status"}, inplace = True)

df["Marital status"].replace(to_replace = [1, 2, 3, 4, 5, 6],
                         value = ["single", "married", "widower", "divorced", "facto union", "legally separated"], inplace = True)

In [ ]:
# Imputation: removed all rows with students "Enrolled" in order to focus on outcomes ("Graduates" and "Dropouts")

df = df.drop(df[df["Target"] == "Enrolled"].index)
df

In [ ]:
# Imputation: remove attributes that are not necessary

# The following data attributes will not contribute meaninfully to our analysis:
#    Application mode, Application order, Admission grade, Previous qualification (grade)

df = df.drop("Application mode", axis = 1)
df = df.drop("Application order", axis = 1)
df = df.drop("Previous qualification (grade)", axis = 1)
df = df.drop("Admission grade", axis = 1)

df

Numerical data summary of all variables with numerical values (categorical variables excluded)

In [ ]:
# Data summary: 18 attributes

summary1 = df.iloc[0:, 0:20]
summary1.describe()

In [ ]:
# Data summary: 16 attributes

summary2 = df.iloc[0:, 20:38]
summary2.describe()

Data summary needed to be expressed this way because all the attributes wouldn't fit in one display ("..." in the middle hid values)

DATA VISUALIZATIONS

In [ ]:
grad = 0
drop = 0
none = 0

for x in df["Target"]:
    if x == "Graduate":
        grad += 1
    elif x == "Dropout":
        drop += 1
    else:
        none += 1
        
print("Number of graduates: ", grad)
print("Number of dropouts: ", drop)
print("Other: ", none, " (checking for extraneous data, there is none)")
print("Total number of students: ", (grad + drop + none), "(total matches number of rows)")

In [ ]:
df_target_labs = ["Graduates", "Dropouts"]
df_target_vals = [grad, drop]

plt.bar(df_target_labs, df_target_vals)
plt.xlabel("Student Outcome")
plt.ylabel("Number of Students")
plt.title("Number of Students who Graduated or Dropped Out")
plt.show()

In [ ]:
# Histogram: qualifications

# fig, axs = plt.subplots(nrows=2, ncols=1, figsize=(15, 15), sharey=True)

plt.boxplot(df["Mother's qualification"], vert = False)
plt.title("Distribution of Mother's qualification", fontsize = 13)
plt.xlabel("Education level (scale of 1 - 44)", fontsize = 12)
plt.show()

plt.boxplot(df["Father's qualification"], vert = False)
plt.title("Distribution of Father's qualification", fontsize = 13)
plt.xlabel("Education level (scale of 1 - 44)", fontsize = 12)
plt.show()

### 2.3 - Ayan

## 3. Data Visualization